<br>
<br>
<div class="row">

    <div class="col-sm-2 col-sm-offset-5">

        <form name="form" ng-submit="ctrl.submit(form.$valid)" role="form" novalidate>

            <div id="email_container" class="form-group">
                <label for="email_container">Email</label>
                <input ng-model="ctrl.email" type="email" name="email" class="form-control" required/>
                    <span class="help-block" ng-show="form.email.$invalid && form.email.$dirty">
                        {{ errorMessage('email'); }}
                    </span>
            </div>

            <div id="btn_container" class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <button ng-click="ctrl.login_url()" type="button" title="Cancel"
                                ng-disabled="spinner.isLoading"
                                class="btn btn-default btn-block">
                            <span class="glyphicon glyphicon-menu-left">

                            </span>
                        </button>
                    </div>

                    <div class="col-sm-8">
                        <button type="submit" ng-disabled="form.$invalid || form.$pristine || spinner.isLoading"
                                title="Reset Password"
                                class="btn btn-default btn-block">Reset Password
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>