
<br>
<br>
<div class="row">

    <div class="col-sm-2 col-sm-offset-5">

        <form name="form" ng-submit="ctrl.submit(form.$valid)" role="form" novalidate>

            <div class="form-group">
                <p>Could you please confirm your email and choose a new password below.</p>
            </div>

            <div id="email_container" class="form-group">
                <label for="email_container">Email</label>
                <input ng-model="ctrl.email" type="email" name="email" class="form-control" required/>
                    <span class="help-block" ng-show="form.email.$invalid && form.email.$dirty">
                        {{ errorMessage('email'); }}
                    </span>
            </div>

            <div id="password_container" class="form-group">
                <label for="password_container">New Password</label>
                <input ng-model="ctrl.password" type="password" name="password" class="form-control" required/>
                <span class="help-block" ng-show="form.password.$invalid && form.password.$dirty">
                    {{ errorMessage('password'); }}
                </span>
            </div>

            <div id="first_token_container" class="form-group">
                <input ng-model="ctrl.key_url" type="hidden" name="key_url" class="form-control" required/>
            </div>

            <div id="second_token_container" class="form-group">
                <input ng-model="ctrl.token" type="hidden" name="token" class="form-control" required/>
            </div>

            <div id="btn_container" class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <button ng-click="ctrl.login_url()" type="button" title="Cancel"
                                class="btn btn-default btn-block">
                            <span class="glyphicon glyphicon-menu-left">

                            </span>
                        </button>
                    </div>

                    <div class="col-sm-8">
                        <button type="submit" ng-disabled="form.$invalid || form.$pristine"
                                title="Reset Password"
                                class="btn btn-default btn-block">Reset Password
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
